/*
 * Base structure
 */

body {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  position: relative;
}

.custom-font-extra-light {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
}

.custom-font-light {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

.custom-font-medium {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.custom-font-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

.custom-font-extra-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  filter: blur(2px) brightness(0.5);
  object-fit: cover;
  object-position: center;

}

.cover-container {
  max-width: 60%;
  position: relative;
  z-index: 1;
}

/* this is the container for the introductory "Hello World" text */
.container {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 33%;
  /* higher values lower the text on the webpage */
}

#intro-paragraph {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#about-paragraph a {
  color: #fff;
  text-decoration: underline;
}

#about-paragraph a:hover {
  color: lightsalmon;
  text-decoration: underline;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 34px;
}

.icon a {
  color: lightsalmon
}

.icon a:hover {
  display: inline;
  color: #fff;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}